<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js Basics Demo</title>
    </head>
    <body>
        
        <div id="hithere">
            <p>{{message}}</p>
            <!--One Time Binding-->
            <!--<p>{{* message}}</p>-->
            <input type="text" v-model="message"/>
        </div>
        
        <script type="text/javascript" src="../libs/vue/dist/vue.js"></script>
        <script type="text/javascript">
            /*global Vue*/
            new Vue({
              el: '#hithere',
              data: {
                message: 'Hello Vue.js!'
              }
            });
        </script>
        
    </body>
</html>