<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js Basics Demo</title>
    </head>
    <body>
        
        <div id="hithere">
            <p>{{message}}</p>
            <input type="text" v-model="message"/>
        </div>
        
        <script type="text/javascript" src="../libs/vue/dist/vue.js"></script>
        <script type="text/javascript">
            
            var vm = new Vue({
              el: '#hithere',
              data: {
                message: 'Hello Vue.js!',
                extraMessage: 'AngularJS is getting outdated'
              }
            });
            
            var stopFlirting = vm.$watch('message',function(newVal, OldVal){
                console.log(newVal);
                // unwatch();
            });
        </script>
        
    </body>
</html>