@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.theLabels{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em
}

.firstLabel{
    color: green;
}

.secondLabel{
    color: red;
}